<h2><%= @product.name %></h2>
<%= image_tag("#{@product.image}") %>
<p><%= @product.cost %></p>
<p>Travel <%= @product.distance %> in the luxurious <%= @product.craft %> with the esteemed <%= @product.agency %> to the lovely <%= @product.name %>.</p>
<p> You'll see unbelievable sights like <%= @product.description %>! You'll want to bring a camera to capture a selfie near <%= @product.star %>. This is good old fashioned family fun, but in space!

<hr>
<p><%= link_to "Edit This Trip", edit_product_path(@product) %></p>
<p><%= link_to "Remove this Trip", product_path(@product),
                          :data => {
                          :confirm => "You sure?",
                          :method => "delete"} %></p>

<p><%= link_to "Review this Trip", new_product_review_path(@product) %></p>
<hr>
<h3>What others have said about this trip:</h3>
<% if @product.reviews.any? %>
  <ul>
    <% @product.reviews.each do |review| %>
    <p>Reviewed by: <%= review.author %></p>
    <p>Rating: <%= review.rating %></p>
    <p><%= review.content %></p>
    <br>
    <%end%>
  </ul>
<% else %>
  <p>This trip hasn't been reviewed yet</p>
<% end %>

<% if user_signed_in? && current_user == @review.user %>
  <%= link_to "Edit", edit_review_path(@review) %>
  <%= link_to "Delete",
  review_path(@review),
  method: :delete,
  data: {confirm: "Are you sure?"} %>
  <% end %>
