<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700|Orbitron:400,500|Yanone+Kaffeesatz:300" rel="stylesheet">
  </head>

  <body>
    <%= link_to "home", '/' %> |
    <% if current_user %>
      <%= current_user.email %> | <%= link_to "sign out", '/signout' %>
    <% else %>
      <%= link_to "sign in", '/signin' %> | <%= link_to "sign up", 'signup' %>
    <% end %>

    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
